body {
    background-color:#F5F5DC;
    background-image: url("/img/background2.jpg");
}

h1 {
    color:whitesmoke;
    text-align:center;
    font-size: 30px;
}
/*ul {*/
    /*background: #3399ff;*/
    /*padding: 20px;*/
/*}*/
/*ul li {*/
    /*background: #cce5ff;*/
    /*margin: 5px;*/
/*}*/
nav {
    color:whitesmoke;
    text-align:center;
}
nav li{
    list-style-type: none;
}

p {
    font-family: verdana;
    font-size: 15px;
    color:white;
    padding:30px;
}
/*img{*/
    /*height: 300px;*/
    /*width: 300px;*/
/*}*/
a {
    color:papayawhip;
    font-size: 25px;
}