body {
    background-color:#F5F5DC;
    background-image: url("/img/background2.jpg");
}

h1 {
    color:whitesmoke;
    text-align:center;
    font-size: 30px;
}

p {
    font-family: verdana;
    font-size: 15px;
    color:lawngreen;
}
img{
    height: 300px;
    width: 300px;
}
a {
    color:papayawhip;
    font-size: 25px;
}