<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithms</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--a class="navbar-brand" href="#">Home</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>GitHub </h1>
    <br>
    <span class="author_date">Author: Cesar Mejia | Date: 05/11/19</span>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" id="github-img"
                 src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557673181/pdesignAlg283.jpg"
                 alt="A chart of an algorithm"/>
        </div>
        <div class="col-md-8">
            <h3>Algorithms</h3>
            <p>
                Volutpat est velit egestas dui id ornare. Nascetur ridiculus mus mauris vitae ultricies leo. Massa sed
                elementum tempus egestas sed sed risus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu.
                Platea dictumst quisque sagittis purus. Egestas egestas fringilla phasellus faucibus scelerisque
                eleifend donec pretium vulputate. Aliquet sagittis id consectetur purus ut faucibus pulvinar. Laoreet
                suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Proin libero nunc consequat
                interdum varius. Aliquam sem et tortor consequat. Adipiscing at in tellus integer feugiat scelerisque.
                Quis varius quam quisque id diam vel quam elementum. Condimentum vitae sapien pellentesque habitant
                morbi. Urna molestie at elementum eu facilisis. Feugiat scelerisque varius morbi enim nunc faucibus a
                pellentesque sit. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.
                Duis ut diam quam nulla porttitor massa. Lacinia quis vel eros donec ac odio. Elit eget gravida cum
                sociis natoque penatibus et. Dolor sit amet consectetur adipiscing.

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Volutpat est velit egestas dui id ornare. Nascetur ridiculus mus mauris vitae ultricies leo. Massa sed
                elementum tempus egestas sed sed risus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu.
                Platea dictumst quisque sagittis purus. Egestas egestas fringilla phasellus faucibus scelerisque
                eleifend donec pretium vulputate. Aliquet sagittis id consectetur purus ut faucibus pulvinar. Laoreet
                suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Proin libero nunc consequat
                interdum varius. Aliquam sem et tortor consequat. Adipiscing at in tellus integer feugiat scelerisque.
                Quis varius quam quisque id diam vel quam elementum. Condimentum vitae sapien pellentesque habitant
                morbi. Urna molestie at elementum eu facilisis. Feugiat scelerisque varius morbi enim nunc faucibus a
                pellentesque sit. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.
                Duis ut diam quam nulla porttitor massa. Lacinia quis vel eros donec ac odio. Elit eget gravida cum
                sociis natoque penatibus et. Dolor sit amet consectetur adipiscing.

            </p>
            <p>
                Volutpat est velit egestas dui id ornare. Nascetur ridiculus mus mauris vitae ultricies leo. Massa sed
                elementum tempus egestas sed sed risus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu.
                Platea dictumst quisque sagittis purus. Egestas egestas fringilla phasellus faucibus scelerisque
                eleifend donec pretium vulputate. Aliquet sagittis id consectetur purus ut faucibus pulvinar. Laoreet
                suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Proin libero nunc consequat
                interdum varius. Aliquam sem et tortor consequat. Adipiscing at in tellus integer feugiat scelerisque.
                Quis varius quam quisque id diam vel quam elementum. Condimentum vitae sapien pellentesque habitant
                morbi. Urna molestie at elementum eu facilisis. Feugiat scelerisque varius morbi enim nunc faucibus a
                pellentesque sit. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.
                Duis ut diam quam nulla porttitor massa. Lacinia quis vel eros donec ac odio. Elit eget gravida cum
                sociis natoque penatibus et. Dolor sit amet consectetur adipiscing.

            </p>
        </div>
    </div>
    <br>
    <h3>More Blogs</h3>
    <br>
    <div class="row" id="moreblogs">
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Object-Oriented Programming</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog about object oriented programming.</p>
                    <a href="/oop" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Core Java</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog all about core Java fundamentals.</p>
                    <a href="/java" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog all about the well known twitter boostrap.</p>
                    <a href="/cssboot" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>