<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GitHub Collaboration</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--a class="navbar-brand" href="#">Home</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>GitHub </h1>
    <br>
    <span class="author_date">Author: Cesar Mejia | Date: 05/11/19</span>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" id="github-img"
                 src="https://res.cloudinary.com/dn5oij7hb/image/upload/v1557504023/github-1200x600.jpg"
                 alt="An image of the github logo"/>
        </div>
        <div class="col-md-8">
            <h3>What is GitHub</h3>
            <p>
                GitHub is a web-based Git repository hosting service, which offers all of the distributed revision control
                and source code management (SCM) functionality of Git as well as adding its own features. Unlike Git, which
                is strictly a command-line tool, GitHub provides a web-based graphical user interface and destop application,
                as well as mobile integration. It also provides access control and several collaboration features such as
                wikis, task management, and bug tracking and feature requests for every project. As of January 2019, GitHub
                offers unlimited private repositories to all plans, including free accounts.As of June 2018, GitHub reports
                having over 28 million users and 57 million repositories (including 28 million public repositories), making
                it the largest host of source code in the world.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>It's History</h3>
            <p>
                GitHub was developed by Chis Wanstrath, P.J.Hyett, Tom Preston-Werner and Scott Chacon using Ruby on Rails.
                The company started in February 2008, but has existed since 2007 and was located in San Francisco, CA.
                By 2009 GitHub had accumulated over 46,000 public repositories, 17,000 of which were formed in the previous
                month alone. At that time, about 6,200 repositories had been forked at least once and 4,600 had been
                merged. By June 2, 2011 ReadWriteWeb reported that GitHub had surpassed SourceForge and Google Code in
                total number of commits for the period of January to May of 2011. On July 9, 2012 Peter Levine, general
                partner at GitHub investor Andreessen Horowitz, stated that GitHub had been growing revenue at 300%
                anually since 2008 "profitability nearly the entire way". By June of 2015 GitHub opened its first office
                outside the U.S. in Japan. That same year the rounded value of the company was of approximately $2
                billion. By June of 2018 Microsoft annouced it had reached an agreement to acquire GitHub for US$7.5
                billion. The purchase closed on October 26, 2018.
            </p>
        </div>
    </div>
    <br>
    <h3>More Blogs</h3>
    <br>
    <div class="row" id="moreblogs">
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Object-Oriented Programming</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog about object oriented programming.</p>
                    <a href="/oop" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Core Java</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog all about core Java fundamentals.</p>
                    <a href="/java" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog all about the well known twitter boostrap.</p>
                    <a href="/cssboot" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>