<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--a class="navbar-brand" href="#">Home</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </div>
</nav>
<div id="main-content" class="container">
    <h1>Blog Home</h1>
    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">GitHub</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/git" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">Programming Design & Algorithms</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/pdesign" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">Core Java</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/java" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">Object oriented Java</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/oop" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">Bootstrap</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/cssboot" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-card">
            <div class="card bg-transparent border-light">
                <div class="card-body">
                    <h4 class="card-title">What Makes Websites</h4>
                    <p class="card-text">We go over what makes websites from the ground up.</p>
                    <a href="/websites" class="btn btn-secondary float-right">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>