<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--a class="navbar-brand" href="#">Home</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Object oriented Java </h1>
        </div>
    </div>
    <div class="row">
        <div id="oopimg" class="col-sm-4">
            <img class="img-fluid"
                 src="https://raygun.com/blog/images/oop-concepts-java/oops-concepts-infographic.png"
                 width="400"
                 alt="Picture of OOP"/>

        </div>
        <div class="col-sm-8">
            <p>
                Object-oriented programming (OOP) is a programming language model in which programs are organized around data,
                or objects, rather than functions and logic. An object can be defined as a data field that has unique attributes
                and behavior. Examples of an object can range from physical entities, such as a human being that is described by
                properties like name and address, down to small computer programs, such as widgets. This opposes the historical
                approach to programming where emphasis was placed on how the logic was written rather than how to define the
                data within the logic.
            </p>
            <p>

                The first step in OOP is to identify all of the objects a programmer wants to manipulate and how they relate to
                each other, an exercise often known as data modeling. Once an object is known, it is generalized as a class of
                objects that defines the kind of data it contains and any logic sequences that can manipulate it. Each distinct
                logic sequence is known as a method and objects can communicate with well-defined interfaces called messages.
            </p>
            <p>
                Simply put, OOP focuses on the objects that developers want to manipulate rather than the logic required to
                manipulate them. This approach to programming is well-suited for programs that are large, complex and actively
                updated or maintained. Due to the organization of an object-oriented program, this method is also conducive to
                collaborative development where projects can be divided into groups. Additional benefits of OOP include code
                reusability, scalability  and efficiency.
            </p>
            <p>
            <h1>Principles of OOP</h1><br>
            <h3>Object-oriented programming is based on the following principles:</h3>
                <ul>
                    <li>
                       <strong>Encapsulation-</strong>  The implementation and state of each object are privately held inside a defined boundary,
                        or class. Other objects do not have access to this class or the authority to make changes but are only
                        able to call a list of public functions, or methods. This characteristic of data hiding provides greater
                        program security and avoids unintended data corruption.
                    </li>
                    <li>
                        <strong> Abstraction-</strong> Objects only reveal internal mechanisms that are relevant for the use of other objects,
                        hiding any unnecessary implementation code. This concept helps developers make changes and additions over
                        time more easily.
                    </li>
                    <li>
                        <strong>Inheritance-</strong>   Relationships and subclasses between objects can be assigned, allowing developers to reuse
                        a common logic while still maintaining a unique hierarchy. This property of OOP forces a more thorough
                        data analysis, reduces development time and ensures a higher level of accuracy.
                    </li>
                    <li>
                        <strong>Polymorphism-</strong>  Objects are allowed to take on more than one form depending on the context. The program
                        will determine which meaning or usage is necessary for each execution of that object, cutting down on
                        the need to duplicate code.
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <br>
    <h3>More Blogs</h3>
    <br>
    <div class="row" id="moreblogs">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Object-Oriented Programming</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">A blog all about object oriented programming.</p>
                    <a href="/oop" class="btn btn-secondary btn-sm">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Core Java</h5>
                    <h6 class="card-subtitle mb-2">Card subtitle</h6>
                    <p class="card-text">A blog all about core Java fundamentals.</p>
                    <a href="/java" class="btn btn-secondary btn-sm">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">A blog all about boostrap.</p>
                    <a href="/cssboot" class="btn btn-secondary btn-sm">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>