<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML & CSS & JavaScript</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--a class="navbar-brand" href="#">Home</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>What Makes a Website </h1>
        </div>
    </div>
    <br>
    <span class="author_date">Author: Cesar Mejia | Date: 05/11/19</span>
    <p>
        HTML, CSS, and JavaScript are use to create any website. HTML is used to set the structure of any website.
        whether be it setting the main heading, it's paragraphs or even tables. However, HTML alone would make a
        very bare website, just black text with some images. Thus, including CSS into the mix gives a website
        a more appealing look. Adding colors to backgrounds, to text and even allowing us to modify images, CSS
        allows us to dress a website and make it look nice and professional. However, if we want the cool effects
        or want to add interactivity to our website we would add JavaScript.
    </p>
    <br>
    <h3>More Blogs</h3>
    <br>
    <div class="row" id="moreblogs">
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Object-Oriented Programming</h5>
                    <h6 class="card-subtitle mb-2">Author: Rekha Mundhra</h6>
                    <p class="card-text">A blog about object oriented programming.</p>
                    <a href="/oop" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Core Java</h5>
                    <h6 class="card-subtitle mb-2">Author: Rekha Mundhra</h6>
                    <p class="card-text">A blog all about core Java fundamentals.</p>
                    <a href="/java" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-transparent border-light" style="width: 18rem; height: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">Github</h5>
                    <h6 class="card-subtitle mb-2">Author: Cesar Mejia</h6>
                    <p class="card-text">A blog about Github.</p>
                    <a href="/git" class="btn btn-secondary btn-sm float-right">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>